<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/styles.css" />

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>

        <form>
            <input placeholder="Put location">
            <button>Search</button>
        </form>
    </div>

    <p>{{>footer}}</p>
    <script src="/js/app.js"></script>
</body>

</html>